body {
 background-color: #e1e5ea !important;
}
.clock {
  position: relative;
  text-align: center;
  color: #ff8303;
  font-size: 60px;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 7px;
}

.text1 {
  position: relative;
  text-align: center;
  color: #939b62;
  font-size: 50px;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 7px;
}

.text2 {
  position: relative;
  text-align: center;
  color: #939b62;
  font-size: 40px;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 7px;
  margin-right: 100px;
  margin-left: 100px;
}

 img {
     margin-top: 120px;
     width: 17%;
}
